
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}
html{
    scroll-behavior: smooth;
}
body{
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    font-family: sans-serif;
  overflow-x: hidden;
}
nav{
    
    display: flex;
    justify-content: space-between;
    align-content: center;
    background:rgb(2, 0, 10);
    color: #fff;
    position: relative;
    z-index: 10;
    width: 100%;
    overflow-x: visible;
}

.logo{
    padding:  1em;
    background-color: rgb(2, 0, 10);
}

.logo img{
width: 100px;
height: 70px;
object-fit: cover;
background-color: rgb(2, 0, 10);
}
nav ul{
    display: flex;
    justify-content: space-between;
    align-content: center;
    
}
nav li{
    list-style: none;
 padding: 2em 1.5em;
}
nav a{
    text-decoration: none;
    color: #fff;
    padding-right:2em;
    text-transform: uppercase;
    font-size: 1em;
    
}
nav a:hover{
    color: rgb(216, 185, 10);
    letter-spacing: 2px;
}

.toggle{
   margin: 2.2em 1em 1em 1em;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
    cursor: pointer;
}
.bar{
    width: 100%;
    background: #fff;
    height: 3px;
}

.home{

    background-position:right;
    background-repeat: no-repeat;
    background-size: cover;
   overflow-y: hidden;
    width: 100%;
    background-color: rgb(2, 0, 10);
    padding-bottom: 3em;
}
.content{
    color: #fff;
    margin-top: 1em;
    display: flex;
    align-content: center;
    justify-content: space-between;
}
.image{
    background-image: url(./images/mine.jpg);
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    height: 80vh;
    width: 600px;
    background-color: rgba(2, 0, 10,0.9);
    background-blend-mode: multiply;
}

.title{
    padding-left: 5em;
    text-transform: uppercase;
    padding-top: 6em;
}
.title h5{
    color: rgb(201, 195, 195);
    padding-bottom: 10px;
    text-transform: capitalize;
    font-size: 1.1em;
}
.title h3{
     font-size: 3em;
     padding-bottom: .5em;
     color: #fff;
}
.title h4{
    font-size:1.3em ;
    color: rgb(201, 195, 195);
    text-transform: capitalize;
    margin-bottom: 3em;
    
}

.title a{
    font-family: sans-serif;
    text-transform: capitalize;
    text-decoration: none;
    background:  rgb(177, 151, 4);
    padding: 1em 2em;
    font-size: 1em;
    border-radius: 2em;
    color: rgb(235, 232, 232);
    margin-bottom: 3em;
}

#about{
    background: rgb(4, 2, 12);
    color: rgb(201, 195, 195);
    padding-bottom: 2em;
  
}
#about h4{
    font-size: 1.6em;
    font-family: sans-serif;
    text-align: center;
    padding: 1em;
    text-transform: uppercase;
}
#about h5{
 font-size: 1.2em;
 text-transform: uppercase;
 padding: 1em 4em;
}
.about{
    display: flex;
    justify-content: space-between;
    align-content: center;
}
.text{
    width: 700px;
    padding: 0 4em;
}
.text h6{
    text-transform: uppercase;
    color: rgb(216, 185, 10);
    font-size: 1em;
    padding-bottom: 1em;
}
.text p{
    padding-bottom: 1em;
    line-height: 1.8em;
}
.skill{
    width: 350px;
    padding: 2em 2em;
}
.skill h6{
    font-size: 1.2em;
    text-transform: uppercase;
    padding-bottom: 1em;
}
.button{
    display: flex;
    justify-content: space-around;
    align-content: center;
    flex-wrap: wrap;
}
.button button{
    padding: 1em;
    margin-right: 1em;
    margin-bottom: 1em;
    color: rgb(201, 195, 195);
    border-radius: 4em;
    border: 1px solid rgb(177, 151, 4);
    outline: none;
    text-transform: uppercase;
    font-size: 1em;
    background: transparent;
}
#project{
    background: rgb(2, 0, 10);
    padding: 1em;
    color: rgb(201, 195, 195);

}
#project h6{
    text-transform: uppercase;
    font-size: 1.6em;
    text-align: center;
    padding: 1em;
}

.project{
    display: flex;
    justify-content: center;
    align-content: center;
}
.project1{
    background: rgb(4, 2, 12);
    box-shadow: 7px 7px 3px rgba(2, 0, 10,0.9);
    margin: 4em;
    padding-bottom: 2.5em;
    border-radius: 3em;
    width: 470px;
    text-align: center;
}
.project1 img{
    width: 280px;
    height: 250px;
    object-fit: cover;
    margin: 3em 6em 1em 6em ;
    
}
.project1 h6{
    color: rgb(216, 185, 10);
}
.project1 p{
    line-height: 1.8em;
    padding: 0 1em 2em 1em;
}
.project1 a{
    text-decoration: none;
    
    margin: 1em auto;
    color: #fff;
    background: rgb(216, 185, 10);
    padding : 1em 4em;
   border-radius: 2em;
    margin-bottom: 2em;
    text-transform: uppercase;
    font-family: serif;
    font-size: 1em;
}
.project1 a:hover{
    border: 1px solid rgb(216, 185, 10);
    background: transparent;
    color: #000;
}
#contact{
   
    color: rgb(201, 195, 195);
    padding: 3em 0;
    background-color: rgb(4, 2, 12);
}
#contact h5{
    text-transform: uppercase;
    font-size: 1.6em;
    text-align: center;
    padding-bottom: 1em;
}
.contact1{
    display: flex;
    justify-content: center;
    align-content: center;
}
.form{
    width: 400px;
    
    margin-bottom: 2em;
}
.form input,.form textarea{
    width: 100%;
    background: transparent;
    padding: 1em ;
    margin-bottom: 1em;
    color: #fff;
    
    outline: none;
    border: none;
    border-bottom: 1px solid rgb(63, 61, 61);
}
.form textarea{
    padding-bottom: 7em;
    overflow: hidden;
}
.form input::placeholder,.form textarea::placeholder{
    text-transform: uppercase;
    color: #fff;
}
.form button{
    background: rgb(177, 151, 4);
    color: #fff;
    width: 100%;
    padding: .7em;
    outline: none;
    border: none;
    font-size: 1em;
    text-transform: uppercase;
}
.form button:hover{
border: 1px solid rgb(177, 151, 4);
background: transparent;

}
.contact{
    margin-left: 5em;
    margin-top: 4em;
}
.email{
    padding-bottom: 3em;

}
.email h6{
    text-transform: uppercase;
    padding-bottom: 15px;
    font-size: 1em;
}
.footer{
    background: rgb(2, 0, 10);
    color: rgb(201, 195, 195);
    text-align: center;
    padding: 2em 0;

}
.footer img{
    height: 150px;
    width: 150px;
    padding-bottom: 1em;
}
.footer a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 1em;
    padding-right: 1em ;
    padding-left: 1em;
}
.git{
    border-right: 1px solid #fff;
}


@media screen and (max-width:1024px) {
        .image{
            height: 40vh;
            width: 500px;
        }
        .title{
            padding-top: 8em;
        }


    
}
@media screen and (max-width:768px){

    .title{
        padding-top: 4em;
    }
    .project{
        flex-direction: column;
        justify-content: center;
    }






}
@media screen and (max-width:480px){

.image{
    display: none;
}
.title{
    padding-top: 3em;
    height: 100%;
    padding-bottom: 3em;
    padding-left: 2em;
    
}
.home{
    padding-bottom: 3em;
}
.title h3{
    font-size: 1.7em;
}
#about{
    
    padding-bottom: 2em;
  
}
#about h4{
    font-size: 1.3em;
   
}
#about h5{
 padding: 1em ;
 font-size: 1.1em;
}
.about{
    flex-direction: column;
}
.text{
    width: 100%;
    padding: 0 2em;
}
.project h6,#contact h5{
    font-size: 1.3em;
}
.project1 p{

    padding: 0 1.5em 2em 2.5em;
    text-align: start;
}
#project1 h6{
    font-size: .8em;
}

.project1{

    margin: 1em;
    padding-bottom: 2.5em;
    border-radius: 3em;
    width: 280px;
   
}
.project1 img{
    width: 180px;
    height: 180px;
    object-fit: cover;
    margin: 2em auto ;
    
}
.contact1{
    flex-direction: column;
    justify-content: center;
}
.form{
    width: 250px;
    padding-left: 3em;
    margin-bottom: 2em;
}

.form button{
    width: 80%;
}
.toggle{
    display: flex;
}
nav ul{
 display: none;
    flex-direction: column;
    margin-top: 3em;
    margin-right: 1em;
    
}
.contact{
    margin-left: 3em;
    margin-top: 2em;
}

}